<h1>About</h1>

<div>
    This is a personal Angular5 template project. The overall purpose is to provide a quick starting point for prototyping and building everyday applications that store their data in the cloud. Functionality-wise, the project seeks go to beyond individual "getting started" templates and ties often used functionalities together in one application. While adding features, the rule is to follow best-practice approaches as documented by the original authors whenever possible.
</div>

<br>
<br>

<div>
    Current best-practice features:
    <ul>
        <li>
            Angular modular approach (CoreModule, SharedModule, FeatureModules)
        </li>
        <li>
            Angular shared data service (Returning Observables)
        </li>
        <li>
            Angular routing (including AuthGuard to restrict content behind login)
        </li>
        <li>
            Firestore integration (using AngularFire2 for data sync, Auth, Querying)
        </li>
    </ul>
</div>

<div>
    Current custom features
    <ul>
        <li>
            Custom Debug Features (Upload user log files to Firebase Storage) *in progress*
        </li>
    </ul>
</div>


<div>
    Roadmap features:
    <ul>
        <li>
            Lazy-loaded modules
        </li>
        <li>
            Unit testing
        </li>
        <li>
            Sass precompilation
        </li>
        <li>
            Firestore Access Rules
        </li>
        <li>
            tbd ...
        </li>
    </ul>
</div>