<ng-container *ngIf="(!auth.user | async) || {} as user">
    
    <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
        
        <h3>New user</h3>
    
        <div>Email</div>
        <div><input type="email" formControlName="email"></div>
        <div>Password</div>
        <div><input type="password" formControlName="password" required></div>

        <button type="submit" [disabled]="!signupForm.valid">Create</button>
        

        <div *ngIf="email.invalid && email.dirty">
            Your email doesn't look quite right...
        </div>
        
        <div *ngIf="password.invalid && password.touched" >
        Password must be between 6 and 24 chars and have at least one number 
        </div>
    
        <div *ngIf="signupForm.valid" >Form looks good! Let's do this.</div>
    
            
    </form>
        
        
        
    <!--form [formGroup]="detailForm" *ngIf="user.uid && !user.catchPhrase" (ngSubmit)="setCatchPhrase(user)">
        
        <h3>Set your Catch Phrase</h3>
        <label for="catchPhrase">CatchPhrase</label>
        <input type="test" formControlName="catchPhrase">
    
        <button type="submit" [disabled]="!detailForm.valid">Submit</button>
        
    </form-->
    <!--p *ngIf="user.catchPhrase">
        You are logged in!
    </p-->
    
</ng-container>